@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,500;0,700;0,900;1,100;1,300&family=Rancho&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    min-height: 100vh;
    overflow-x: hidden;
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

/*Encabezados*/
.logo{
    position: absolute;
    top: 3%;
    left: 5%;
    font-size: 2rem;
    
}
.navigation{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #111;
    transition: 0.2s;
    display: flex;
    visibility: hidden;
    opacity: 0;
    z-index: 100;
}
.navigation.active{
    visibility: visible ;
    opacity: 1;
    overflow: overlay;
}

.navigation .navArea{
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navigation .navArea ul li{
    list-style: none;
}
.navigation .navArea ul li::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    z-index: -1;
    opacity: 0;
    transition: 0.5s;
}
.navigation .navArea ul li:nth-child(1):before{
    background: #E8998D;
}
.navigation .navArea ul li:nth-child(2):before{
    background: #A2AEBB;
}
.navigation .navArea ul li:nth-child(3):before{
    background: #DBD053;
}
.navigation .navArea ul li:nth-child(4):before{
    background: #F29E4C;
}
.navigation .navArea ul li:nth-child(5):before{
    background: #51355A;
}

.navigation .navArea ul li:hover::before{
opacity: 1;
}
.navigation .navArea ul li a{
    font-size: 3em;
    font-weight: 600;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
}
.navigation .navArea ul li:hover a{
    color: rgba(255, 255, 255, 1);
}
.imgArea{
    position: relative;
    width: 50%;
    height: 100vh;
    background: crimson;
}
.imgArea img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.menuToggle{
    position: fixed ;
    top: 40px;
    right: 40px;
    width: 50px;
    height: 50px;
    background: url(/images/lista.svg);
    z-index: 1000;
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
.menuToggle.active{
    background:  url(/images/close.svg);
    z-index: 1000;
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
}


/*Seccion */

section{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    min-height: 100vh;
}
/*Desvanecimineto*/
section::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px;
    background: linear-gradient(to top, #c2e9fb,transparent);
    z-index: 10;
}

section img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    pointer-events: none;
    transform: translateY(80px);
}

/*Textos*/

section #slogan{
    position: absolute;
    color: #110011;
    font-size: 7vmax;
    text-align: center;
    font-family: 'Rancho', sans-serif;
    line-height: 0.8em;
    white-space: nowrap;
    transform: translateY(-200px);
    margin-left: 8vw;
}

section #btn{
    text-decoration: none;
    display: inline-block;
    background: #110011;
    color: #fff;
    padding: 8px 30px;
    border-radius: 20px;
    letter-spacing: 2px;
    font-size: 1.2em;
    font-weight: 500;
    transform: translatey(200px);
    margin-left: 80px;
}

section #btn:hover{
    background: #4d003d;
}

/*Seccion del scroll*/
.sec{
    background: #c2e9fb;
    position: relative;
    padding: 80px;
}
.sec h2{
    font-size: 3.5vw;
    color: #ffb199;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.sec h3{
    font-size: 2vw;
    color: #4d003d;
    margin-bottom: 10px;
}
.sec p{
    font-size: 1.2vw;
    color: #4d003d;
}
.sec::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px;
    background: linear-gradient(to top, #D9F7FA ,transparent);
    z-index: 10;
} 
.con{
    display: grid;
    justify-content: center;
    align-items: end;
    min-height: 100vh;
    background: #D9F7FA;
    padding: 50px;
}
footer{
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
}
footer .container{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-gap: 20px;
}
footer .container .secc h2{
    position: relative;
    color: #333;
    font-weight: 600;
    margin-bottom: 15px;
}
footer .container .secc p{
    color: #555;
}
footer .container .sci{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4,50px);
}
footer .container .sci li{
    list-style: none;
}
footer .container .sci li a{
    display: inline-block;
    width: 36px;
    height: 36px;
    background: #333;
    display: grid;
    align-content: center;
    justify-content: center;
    text-decoration: none;
}
footer .container .sci li a i{
    color: #fff;
    font-size: 20px;
}
footer .container .aquicklnks{
    position: relative;
}
footer .container .aquicklnks ul li{
    list-style: none;
}
footer .container .aquicklnks ul li a{
    color: #555;
    text-decoration: none;
    margin-bottom: 10px;
    display:inline-block;
}
footer .container .Contact .info{
    position: relative;
}
footer .container .Contact .info li{
    display: grid;
    grid-template-columns: 30px 1fr;
    margin-bottom: 16px;
}
footer .container .Contact .info li span {
    color: #555;
    font-size: 20px;
}
footer .container .Contact .info li a{
    color: #555;
    text-decoration: none;
}
.copyrighText{
    width: 100%;
    background: #fff;
    padding: 20px 100px 30px;
    text-align: center;
    color: #555;
    border: 1px solid rgba(0, 0, 0,0,15);
    border-radius: 10px;
}



/*Section */
@media(max-width:991px){
    .logo{
        position: absolute;
        top: 5%;
        left: 10%;
        font-size: 1.7rem;
        
    }
    .navigation .navArea{
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10;
    }
    .navigation .navArea ul {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; 
    }
    .navigation .navArea ul li{
        border-radius: 12px;
        border: 2px solid #fff;
        margin: 5px 10px;
        padding: 5px 10px;
    }
    .navigation .navArea ul li:hover{
        background: #ff355a;
    }
    .navigation .navArea ul li a{
        color: #fff;
        font-size: 2em;
        letter-spacing: 2px;
    }
    .imgArea{
        position: absolute;
        width: 100%;
        height: 100vh;
        background: #f00;
    }
    .navigation .navArea ul li:hover::before{
        opacity: 0;
    }
    .imgArea{
        position: absolute;
        width: 100%;
        height: 100vh;
        background: #f00;
        opacity: 0.7;
    }
    nav ul li{
        margin-left: 0px;
    }
    .sec{
        padding: 60px;
    }
    .sec h2{
        font-size: 1.3em;
    }
    .sec p,.sec h3{
        font-size: 1em;
    }
    header .menulist{
        opacity: 0;
    }
    nav ul{
        display: none;
        opacity: 0;
        visibility: hidden;
    }
    nav ul li a{
        font-size: 0.95em;
    }
    nav.active ul{
        position: relative;
        top: 50px;
        margin-left: -89%;
        display: flex;
        opacity: 1;
        visibility: visible;
    }
    header .menu{
        position: absolute;
        right: 40px;
        height: 40px;
        width: 40px;
        cursor: pointer;
        background-image: url('/images/lista.svg');
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: center;
    }
    header .menu.active{
        background-image: url(/images/close.svg);
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: center;
    }
    section #btn{
        margin-left: 10px;
    }
    footer{
        padding: 40px;
    }
    footer .container{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 20px;
    }
    .copyrighText{
        padding: 20px 40px 30px;
    }
}
@media(max-width:768px){
    footer .container{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 20px;
    }
}

